@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.macbook {

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {

    width: 80vw;
    height: 85vh;
    display: flex;
    box-shadow: 5px 5px 10px #000000;
}

.container .LHS {

    flex: 55%;
    padding: 20px 30px;
    
}

.container .RHS {

    flex: 45%;
    position: relative;
    
}

.img_logo {

    width: 60px;
    height: 65px;
}

.logo {

    display: flex;
    justify-content: flex-end;
}

header > h3 {

    font-family: "Playfair Display", sans-serif ;
    font-size: 2rem;
    font-weight: 700;
    line-height: 64px;
    color:#086DB8;
}

.form_container {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: "Playfair Display", sans-serif ;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;

}
.form_about {
    grid-column: 1 / 3;
}

.input > input, select {

    width: 208px;
    height: 24px;
    border: 1px solid #000000;
    border-radius: 4px;

}

.form_about > textarea {

    width: 459px;
    border: 1px solid #000000;
    border-radius: 4px;


}

.form_button {
    width: 459px;
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
}

button {

    width: 150px;
    height: 25px;
    color: #FFFFFF;
    background-color: #3E53C3;
    border-radius: 10px 0px 10px 0px;
    border: 1px solid #086DB8;
    font-family: "Playfair Display", sans-serif;
    font-size: 18px;
    font-weight: 700;
}

img.bg_img {

    width: 100%;
    height: 100%;
    object-fit: fill;

}

p.text1 {

    position: absolute;
    top: 50px;
    left: 290px;
    color:#FFFFFF;
    font-family: "Playfair Display", sans-serif;
    font-size: 30px;
    font-weight: 700;

}

p.text2{

    position: absolute;
    top: 410px;
    left: 60px;
    color:#FFFFFF;
    text-transform:uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 700;

}

@media (max-width : 926px) {

    .macbook{

        height: 100%;
    }

    .container {

        width: 100%;
        height: 100%;
        padding: 20px 20px;
    }

    .container .LHS {

        padding: 0;
        
    }

    .logo {

        width: 437px;
    }

    .form_about > textarea, .form_button {

        width: 425px;
    }

    p.text1 {

        top: 50px;
        left: 160px;
        font-size: 25px;
        
    }
    
    p.text2{

        top: 400px;
        left: 60px;
        font-size: 15px;
    
    }

}

@media (max-width: 429px) {

    .container{

        flex-direction: column;
    }

    .form_container {
    
        display: block;

    } 
    
    .logo, .form_about > textarea, .input > input, select, .form_button {

        width: 335px;
    }

    .form_button {

        justify-content: flex-start;
        padding-bottom: 15px;
    } 

    p.text1 {

        top: 62px;
        left: 205px;
        
    }
    
    p.text2{

        top: 370px;
        left: 60px;
    
    }
    
}

